@inherits LayoutComponentBase

<div class="main-layout">
    <div class="header">
        <img src="/images/header-bg.jpg" aria-hidden="true" />
    </div>
    <div class="main">
        @Body
    </div>
</div>
